root = true

# Reglas para todos los archivos
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Archivos JSON
[*.json]
indent_style = space
indent_size = 2

# Archivos JavaScript y JSX
[*.{js,jsx}]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true

# Archivos TypeScript y TSX
[*.{ts,tsx}]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true

# Archivos Markdown
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# Archivos CSS, SCSS
[*.{css,scss}]
indent_style = space
indent_size = 2

# Archivos YAML
[*.yml]
indent_style = space
indent_size = 2
